RewriteEngine On

# If the requested file does not exist as a regular file
RewriteCond %{REQUEST_FILENAME} !-f

# If the requested file without extension exists as a regular file
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# If the requested file without extension exists as a regular file
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

